{% extends "blog_base.html" %}

{% block content %}
    <div class="newpost">
        <form method="post">
            <label>
                <div>Subject</div>
                <input type="text" name="subject" value="{{subject}}" class="">
            </label>
            <label>
                <div>Content</div>
                <textarea class="content"name="content">{{content}}</textarea>
            </label>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
        <form action="/blog/{{post.key().id()}}">
            <input type="submit" value="Cancel"/>
        </form>
    </div>
{% endblock %}
