
<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{post.subject}}
    </div>
    <div class="post-date">
      {{post.created.strftime("%b %d %Y")}}
    </div>
    <div class="post-author">
      {{post.author.name}}
    </div>
  </div>
  <div class="post-content">
    {{post._render_content | safe}}
  </div>
    <form action="/blog/edit_post/{{post.key().id()}}" class="edit_button">
        <input type="submit" value="Edit post">
    </form>
    <form action="/blog/deleted/{{post.key().id()}}" method="get" class="delete_button">
        <input type="submit" value="Remove post">
    </form>
</div>
